/* Estilos principais para as tiles */
button[kind="secondary"] {
    background-color: white !important;
    color: #333333 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    padding: 30px 20px !important;
    border: 2px solid #ddd !important;
    border-radius: 16px !important;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1) !important;
    transition: all 0.3s ease-in-out;
    height: 200px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

button[kind="secondary"]:hover {
    background-color: #f0f0f0 !important;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.15) !important;
    transform: scale(1.02);
    cursor: pointer;
}
