/* Estilos apenas para as tiles da página principal */
.tile-container {
    margin-top: 20px;
}

.tile {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ddd;
}

.tile:hover {
    background-color: #f0f0f0;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
    transform: scale(1.02);
}
